<div class="header">
    <h1>Exercício Corrida</h1>
</div>

<div class="sidebar">
    <ul  >
        <li><a routerLink="/users" routerLinkActive="linkSelected">Usuários</a></li>
        <li><a routerLink="/teams" routerLinkActive="linkSelected">Equipes</a></li>
        <li><a routerLink="/countries" routerLinkActive="linkSelected">Países</a></li>
        <li><a routerLink="/pilots" routerLinkActive="linkSelected">Pilotos</a></li>
        <li><a routerLink="/speedways" routerLinkActive="linkSelected">Pistas</a></li>
        <li><a routerLink="/races" routerLinkActive="linkSelected">Corridas</a></li>
        <li><a routerLink="/championships" routerLinkActive="linkSelected">Campeonatos</a></li>
    </ul>
  
</div>
