<section>

    <div class="form">
      <label class="label">Nome: </label>
      <div class="name">
        <input
          type="text"
          class="input"
          placeholder="Digite o nome do piloto..."
          [(ngModel)]="pilot.name"
        />
        <button class="filtrar" class="icone"><img src="../../../../assets/icone-lupa.svg" alt="" width="35px" (click)="getPilotByName()"></button>
      </div>

      <label class="label">País: </label>
      <div class="name" >
        <select class="input" placeholder="Selecione o pais..." [(ngModel)]="pilot.country">
          <option *ngFor="let country of countries" [ngValue]="country" >{{country.name}}</option>
        </select>
        <button class="filtrar" class="icone"><img src="../../../../assets/icone-lupa.svg" alt="" width="35px" (click)="getPilotByCountry()"></button>
      </div>
    
      <label class="label">Equipe: </label>
      <div class="name" >
        <select class="input" id="team" placeholder="Selecione a equipe..." [(ngModel)]="pilot.team">
          <option *ngFor="let team of teams" [ngValue]="team" >{{team.name}}</option>
        </select>
        <button class="filtrar" class="icone"><img src="../../../../assets/icone-lupa.svg" alt="" width="35px" (click)="getPilotByTeam()"></button>
      </div>
    
      </div>
    
      <div class="botoes">
        <button class="botao" (click)="insert()">Salvar</button>
        <button class="botao">Ver filtros</button>
      </div>

</section>
